
/// ключи со значением расширения экрана, этот массив мы используем в последствии для формирования медиазапроса
$breakpoints: (
    'smalS': 320px,
    'smalM': 375px,
    'smalL': 425px,
    'medium': 768px,
    'large': 1024px,
    'huge': 1200px
);

/// сздаем переменную обозначающую количество колонок на сайте, максимальное кол-во у нас 12
$items: 12;
 /// далее создаем миксин брейк с параметром сайз, благодаря этому миксину будут формироваться медиазапросы 
@mixin break($size){

/// первым параметром передается имя массива, вторым размер по которому будет выбираться значение
    @media (min-width: map-get($breakpoints, $size)) {

        /// и будет выводиться контент
        @content;
    }
}

/// создаем директиву где для каждого ключа и значения в массиве breakpoints используем миксин строка 27
@each $key, $value in $breakpoints{
    /// в этом миксине в качестве параметра будет передаваться ключ
    @include break($key){
        /// тут в качестве контента будет выводиться директива
        // для каждой переменной  $i начиная с еденицы до $items: 12; формируем селекторы с переменной $key и переменной $i 
        @for $i from 1 through $items {
            .column-#{$key}-#{$i} {
                //для каждого селектора назначаем ширину где $i делем на кол-во колонок и умножаем на 100%
                width: #{$i / $items * 100%};
                //добавим обтикание слева для всх созданных селекторов
                float: left;
            }
        }

    }
}
//создадим миксин для очищения обтикания что-бы могли использовать row
// Помощник для сброса внутреннего обтекания
/// author Николас Галлагер
/// link http://nicolasgallagher.com/micro-clearfix-hack/ Micro Clearfix
@mixin clearfix(){
    &:after{
        content: ".";
        display: block;
        clear: both;
    }
    &:before{
        content: ".";
        display: block;
        clear: both;
    }
}
//показываем роу что-бы он использовал этот миксин
.row{
    @include clearfix;
}
