nav {
	padding-left: 15px;
	padding-right: 15px;
	background-color: $white;
}

.logo {
    display: inline-block;
	padding: 7px;
}
.logo .logo-img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.nav {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item {
	padding: $space * 1.5;
	padding-right: $space;
}

.nav-link {
	position: relative;
	color: $white;
	padding: 0;
    font-size: $space * 1.8;
    font-weight: bold;
    text-transform: uppercase;
}

.link::before {
	content: "";
	width: 0;
	height: 3px;
    background-color: $yellow;
	position: absolute;
	top: 100%;
	left: 0;
}

.nav-item:hover {
	background-color: unset;
}

.nav-item:hover {
    .nav-link {
        color: unset;
        text-shadow: unset;
    }
}

.nav-item:hover {
    .link::before {
        width: $width;
    }
}

.search {
    color: $white;
}
.temp-link {
	display: none;
}
