html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 320px) {
  .column-smalS-1 {
    width: 8.33333%;
    float: left; }
  .column-smalS-2 {
    width: 16.66667%;
    float: left; }
  .column-smalS-3 {
    width: 25%;
    float: left; }
  .column-smalS-4 {
    width: 33.33333%;
    float: left; }
  .column-smalS-5 {
    width: 41.66667%;
    float: left; }
  .column-smalS-6 {
    width: 50%;
    float: left; }
  .column-smalS-7 {
    width: 58.33333%;
    float: left; }
  .column-smalS-8 {
    width: 66.66667%;
    float: left; }
  .column-smalS-9 {
    width: 75%;
    float: left; }
  .column-smalS-10 {
    width: 83.33333%;
    float: left; }
  .column-smalS-11 {
    width: 91.66667%;
    float: left; }
  .column-smalS-12 {
    width: 100%;
    float: left; } }

@media (min-width: 375px) {
  .column-smalM-1 {
    width: 8.33333%;
    float: left; }
  .column-smalM-2 {
    width: 16.66667%;
    float: left; }
  .column-smalM-3 {
    width: 25%;
    float: left; }
  .column-smalM-4 {
    width: 33.33333%;
    float: left; }
  .column-smalM-5 {
    width: 41.66667%;
    float: left; }
  .column-smalM-6 {
    width: 50%;
    float: left; }
  .column-smalM-7 {
    width: 58.33333%;
    float: left; }
  .column-smalM-8 {
    width: 66.66667%;
    float: left; }
  .column-smalM-9 {
    width: 75%;
    float: left; }
  .column-smalM-10 {
    width: 83.33333%;
    float: left; }
  .column-smalM-11 {
    width: 91.66667%;
    float: left; }
  .column-smalM-12 {
    width: 100%;
    float: left; } }

@media (min-width: 425px) {
  .column-smalL-1 {
    width: 8.33333%;
    float: left; }
  .column-smalL-2 {
    width: 16.66667%;
    float: left; }
  .column-smalL-3 {
    width: 25%;
    float: left; }
  .column-smalL-4 {
    width: 33.33333%;
    float: left; }
  .column-smalL-5 {
    width: 41.66667%;
    float: left; }
  .column-smalL-6 {
    width: 50%;
    float: left; }
  .column-smalL-7 {
    width: 58.33333%;
    float: left; }
  .column-smalL-8 {
    width: 66.66667%;
    float: left; }
  .column-smalL-9 {
    width: 75%;
    float: left; }
  .column-smalL-10 {
    width: 83.33333%;
    float: left; }
  .column-smalL-11 {
    width: 91.66667%;
    float: left; }
  .column-smalL-12 {
    width: 100%;
    float: left; } }

@media (min-width: 768px) {
  .column-medium-1 {
    width: 8.33333%;
    float: left; }
  .column-medium-2 {
    width: 16.66667%;
    float: left; }
  .column-medium-3 {
    width: 25%;
    float: left; }
  .column-medium-4 {
    width: 33.33333%;
    float: left; }
  .column-medium-5 {
    width: 41.66667%;
    float: left; }
  .column-medium-6 {
    width: 50%;
    float: left; }
  .column-medium-7 {
    width: 58.33333%;
    float: left; }
  .column-medium-8 {
    width: 66.66667%;
    float: left; }
  .column-medium-9 {
    width: 75%;
    float: left; }
  .column-medium-10 {
    width: 83.33333%;
    float: left; }
  .column-medium-11 {
    width: 91.66667%;
    float: left; }
  .column-medium-12 {
    width: 100%;
    float: left; } }

@media (min-width: 1024px) {
  .column-large-1 {
    width: 8.33333%;
    float: left; }
  .column-large-2 {
    width: 16.66667%;
    float: left; }
  .column-large-3 {
    width: 25%;
    float: left; }
  .column-large-4 {
    width: 33.33333%;
    float: left; }
  .column-large-5 {
    width: 41.66667%;
    float: left; }
  .column-large-6 {
    width: 50%;
    float: left; }
  .column-large-7 {
    width: 58.33333%;
    float: left; }
  .column-large-8 {
    width: 66.66667%;
    float: left; }
  .column-large-9 {
    width: 75%;
    float: left; }
  .column-large-10 {
    width: 83.33333%;
    float: left; }
  .column-large-11 {
    width: 91.66667%;
    float: left; }
  .column-large-12 {
    width: 100%;
    float: left; } }

@media (min-width: 1200px) {
  .column-huge-1 {
    width: 8.33333%;
    float: left; }
  .column-huge-2 {
    width: 16.66667%;
    float: left; }
  .column-huge-3 {
    width: 25%;
    float: left; }
  .column-huge-4 {
    width: 33.33333%;
    float: left; }
  .column-huge-5 {
    width: 41.66667%;
    float: left; }
  .column-huge-6 {
    width: 50%;
    float: left; }
  .column-huge-7 {
    width: 58.33333%;
    float: left; }
  .column-huge-8 {
    width: 66.66667%;
    float: left; }
  .column-huge-9 {
    width: 75%;
    float: left; }
  .column-huge-10 {
    width: 83.33333%;
    float: left; }
  .column-huge-11 {
    width: 91.66667%;
    float: left; }
  .column-huge-12 {
    width: 100%;
    float: left; } }

.row:after {
  content: ".";
  display: block;
  clear: both; }

.row:before {
  content: ".";
  display: block;
  clear: both; }

body {
  color: #000;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

h3, h4, h5, h6 {
  margin-bottom: 10px; }

p {
  margin-bottom: 5px;
  line-height: 24px; }

h1 {
  font-size: 62px;
  margin-bottom: 30px; }

h2 {
  font-size: 48px;
  margin-bottom: 15px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6, p {
  font-size: 18px; }

a:link,
a:visited {
  text-decoration: none;
  font: inherit;
  color: inherit;
  cursor: pointer; }
