@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background: orange;
  position: fixed; }

@media (min-width: 425px) {
  .column-small-1 {
    width: 7.14286%;
    float: left; }
  .column-small-2 {
    width: 14.28571%;
    float: left; }
  .column-small-3 {
    width: 21.42857%;
    float: left; }
  .column-small-4 {
    width: 28.57143%;
    float: left; }
  .column-small-5 {
    width: 35.71429%;
    float: left; }
  .column-small-6 {
    width: 42.85714%;
    float: left; }
  .column-small-7 {
    width: 50%;
    float: left; }
  .column-small-8 {
    width: 57.14286%;
    float: left; }
  .column-small-9 {
    width: 64.28571%;
    float: left; }
  .column-small-10 {
    width: 71.42857%;
    float: left; }
  .column-small-11 {
    width: 78.57143%;
    float: left; }
  .column-small-12 {
    width: 85.71429%;
    float: left; }
  .column-small-13 {
    width: 92.85714%;
    float: left; }
  .column-small-14 {
    width: 100%;
    float: left; } }

@media (min-width: 768px) {
  .column-medium-1 {
    width: 7.14286%;
    float: left; }
  .column-medium-2 {
    width: 14.28571%;
    float: left; }
  .column-medium-3 {
    width: 21.42857%;
    float: left; }
  .column-medium-4 {
    width: 28.57143%;
    float: left; }
  .column-medium-5 {
    width: 35.71429%;
    float: left; }
  .column-medium-6 {
    width: 42.85714%;
    float: left; }
  .column-medium-7 {
    width: 50%;
    float: left; }
  .column-medium-8 {
    width: 57.14286%;
    float: left; }
  .column-medium-9 {
    width: 64.28571%;
    float: left; }
  .column-medium-10 {
    width: 71.42857%;
    float: left; }
  .column-medium-11 {
    width: 78.57143%;
    float: left; }
  .column-medium-12 {
    width: 85.71429%;
    float: left; }
  .column-medium-13 {
    width: 92.85714%;
    float: left; }
  .column-medium-14 {
    width: 100%;
    float: left; } }

@media (min-width: 1024px) {
  .column-large-1 {
    width: 7.14286%;
    float: left; }
  .column-large-2 {
    width: 14.28571%;
    float: left; }
  .column-large-3 {
    width: 21.42857%;
    float: left; }
  .column-large-4 {
    width: 28.57143%;
    float: left; }
  .column-large-5 {
    width: 35.71429%;
    float: left; }
  .column-large-6 {
    width: 42.85714%;
    float: left; }
  .column-large-7 {
    width: 50%;
    float: left; }
  .column-large-8 {
    width: 57.14286%;
    float: left; }
  .column-large-9 {
    width: 64.28571%;
    float: left; }
  .column-large-10 {
    width: 71.42857%;
    float: left; }
  .column-large-11 {
    width: 78.57143%;
    float: left; }
  .column-large-12 {
    width: 85.71429%;
    float: left; }
  .column-large-13 {
    width: 92.85714%;
    float: left; }
  .column-large-14 {
    width: 100%;
    float: left; } }

@media (min-width: 1200px) {
  .column-huge-1 {
    width: 7.14286%;
    float: left; }
  .column-huge-2 {
    width: 14.28571%;
    float: left; }
  .column-huge-3 {
    width: 21.42857%;
    float: left; }
  .column-huge-4 {
    width: 28.57143%;
    float: left; }
  .column-huge-5 {
    width: 35.71429%;
    float: left; }
  .column-huge-6 {
    width: 42.85714%;
    float: left; }
  .column-huge-7 {
    width: 50%;
    float: left; }
  .column-huge-8 {
    width: 57.14286%;
    float: left; }
  .column-huge-9 {
    width: 64.28571%;
    float: left; }
  .column-huge-10 {
    width: 71.42857%;
    float: left; }
  .column-huge-11 {
    width: 78.57143%;
    float: left; }
  .column-huge-12 {
    width: 85.71429%;
    float: left; }
  .column-huge-13 {
    width: 92.85714%;
    float: left; }
  .column-huge-14 {
    width: 100%;
    float: left; } }

.row:after {
  content: "";
  display: block;
  clear: both; }

.row:before {
  content: "";
  display: block;
  clear: both; }

/* grid
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75%;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
*/
nav {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff; }

.logo {
  display: inline-block;
  padding: 7px; }

.logo .logo-img {
  width: 50px;
  height: 50px;
  margin-left: 50px; }

.nav {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.nav-item {
  padding: 15px;
  padding-right: 10px; }

.nav-link {
  position: relative;
  color: #fff;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }

.link::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #fc0;
  position: absolute;
  top: 100%;
  left: 0; }

.nav-item:hover {
  background-color: unset; }

.nav-item:hover .nav-link {
  color: unset;
  text-shadow: unset; }

.nav-item:hover .link::before {
  width: 100%; }

.search {
  color: #fff; }

.temp-link {
  display: none; }

body {
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

.container-fluid {
  width: 95%;
  margin-left: 2px;
  margin-right: 2px; }

.container {
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

.row {
  position: relative;
  width: 100%; }

body {
  color: #000;
  font-family: 'Merriweather', serif; }

h3, h4, h5, h6 {
  margin-bottom: 10px; }

p {
  margin-bottom: 5px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 62px;
  margin-bottom: 30px; }

h2 {
  font-size: 48px;
  margin-bottom: 15px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6, p {
  font-size: 18px; }

.uppercase-t {
  text-transform: uppercase; }

.capitalize-t {
  text-transform: capitalize; }

a:link,
a:visited {
  font-size: 18px;
  text-decoration: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
