@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700");

body {
    color: $black;
    font-family: $font-family-main;
}

h3, h4, h5, h6 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: $space * 6.2;
    margin-bottom: 30px
}

h2 {
    font-size: $space * 4.2;
    margin-bottom: $space * 1.5;
}

h3 {
    font-size: $space * 3.2;
}

h4 {
    font-size: $space * 2.4;
}

h5 {
    font-size: $space * 2;
}

h6, p {
    font-size: $space * 1.8;
}

.uppercase-t {
    text-transform: uppercase;
  }
  
  .capitalize-t {
    text-transform: capitalize;
  }

a:link,
a:visited {
    font-size: $space * 1.8;
    text-decoration: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
}
